<li class="span12">
	<section id="activityPageSection">
		<h2 id="activityPageTitle">Activities</h2>

		<ul id="activityMenu" class="nav nav-tabs">
			<% @categories.each do |cat| %>
				<li>
					<%= link_to cat.name, activity_by_category_path(cat, :anchor => "activityPageTitle") %>
				</li>
			<% end %>
		</ul>
		<ul id="activityLocations" class="row-fluid thumbnails">
			<% @activities.each do |act| %>
				<li class="thumbnail">
					<div class="span7">
						<img src="<%= image_map(act.location.latitude, act.location.longitude) %>">
					</div>
					<div class="span5 location-text">
						<h2><%= act.location.name %></h2>
						<h5><%= act.location.category.name %></h5>
						<p><%= act.location.description %></p>
						<hr class="activity-row"/>
						<%= link_to "Get Directions", gmaps_url(act.location.latitude, act.location.longitude), :class => "btn btn-primary", :target => "_blank" %>
					</div>
				</li>
			<% end %>
		</ul>
	</section>
	<script type="text/javascript">
		$('#activityMenu li:eq(<%= active_tab %>) a').tab('show');
	</script>
</li>
