<li class="span12">
	<section id="activitiesPageSection">
		<h2 id="activitiesPageTitle">Activities</h2>

		<ul id="activitiesMenu" class="nav nav-tabs">
			<% @categories.each do |cat| %>
				<li>
					<%= link_to cat.name, activity_by_category_path(cat, :anchor => "activitiesPageTitle") %>
				</li>
			<% end %>
		</ul>
		<ul id="activityLocations" class="row-fluid thumbnails">
			<% @activities.each do |act| %>
				<li class="thumbnail">
					<div class="span7">
						<img src="<%= image_map(act.location) %>">
					</div>
					<div class="span5">
						<div class="location-text">
							<h2><%= act.location.name %></h2>
							<h5><%= act.location.category.name %></h5>
							<p><%= short_description(act.location.description) %></p>
						</div>
						<div>
							<hr class="activity-row" />
							<%= link_to "Get Directions", gmaps_url(act.location), :class => "btn", :target => "_blank" %>
							<%= link_to "More Details", activity_path(act), :class => "btn" %>
						</div>
					</div>
				</li>
			<% end %>
		</ul>
	</section>
	<script type="text/javascript">
		$('#activitiesMenu li:eq(<%= active_tab %>) a').tab('show');
	</script>
</li>
