<% provide(:title, 'About Us') %>
<li class="span12">
	<section>

		<h2 id="aboutusTitle">About Us</h2>

		<p>We are ThoughtWorkers and we are awesome!</p>

		<h3>Authors</h3>

		<div class="profile">
			<%= image_tag("about/erlangga.jpg", :class => 'avatar') %>

			<div class="info">
				<p><b>Erlangga Tjhie</b></p>

				<p><span><%= image_tag("about/indonesia.png", :class => 'flag') %></span> working in Melbourne,
					<span><%= image_tag("about/australia.png", :class => 'flag') %></span></p>

				<p>Developer</p>
			</div>
		</div>

		<div class="profile">
			<%= image_tag("about/greg.jpg", :class => 'avatar') %>

			<div class="info">
				<p><b>Greg Skinner</b></p>

				<p><span><%= image_tag("about/uk.png", :class => 'flag') %></span> working in Melbourne,
					<span><%= image_tag("about/australia.png", :class => 'flag') %></span></p>

				<p>User Experience Designer</p>
			</div>
		</div>

		<div class="profile">
			<%= image_tag("about/johannes.jpg", :class => 'avatar') %>

			<div class="info">
				<p><b>Johannes Thönes</b></p>

				<p><span><%= image_tag("about/germany.png", :class => 'flag') %></span> working in Hamburg,
					<span><%= image_tag("about/germany.png", :class => 'flag') %></span></p>

				<p>Developer</p>
			</div>
		</div>

		<div class="profile">
			<%= image_tag("about/jr.jpg", :class => 'avatar') %>

			<div class="info">
				<p><b>Junior Ales</b></p>

				<p><span><%= image_tag("about/brazil.png", :class => 'flag') %></span> working in Porto Alegre,
					<span><%= image_tag("about/brazil.png", :class => 'flag') %></span></p>

				<p>Developer</p>
			</div>
		</div>

		<div class="profile">
			<%= image_tag("about/mewan.jpg", :class => 'avatar') %>

			<div class="info">
				<p><b>Mewanbanjop Mawroh</b></p>

				<p><span><%= image_tag("about/india.png", :class => 'flag') %></span> working in Chennai,
					<span><%= image_tag("about/india.png", :class => 'flag') %></span></p>

				<p>Developer</p>
			</div>
		</div>

		<div class="profile">
			<%= image_tag("about/ruoran.jpg", :class => 'avatar') %>

			<div class="info">
				<p><b>Ruoran Liu</b></p>

				<p><span><%= image_tag("about/china.png", :class => 'flag') %></span> working in Chengdu,
					<span><%= image_tag("about/china.png", :class => 'flag') %></span></p>

				<p>Developer</p>
			</div>
		</div>

		<div class="profile">
			<%= image_tag("about/solon.jpg", :class => 'avatar') %>

			<div class="info">
				<p><b>Solon Aguiar</b></p>

				<p><span><%= image_tag("about/brazil.png", :class => 'flag') %></span> working in Porto Alegre,
					<span><%= image_tag("about/brazil.png", :class => 'flag') %></span></p>

				<p>Developer</p>
			</div>
		</div>

		<div class="profile">
			<%= image_tag("about/ste.jpg", :class => 'avatar') %>

			<div class="info">
				<p><b>Stephen Cowley</b></p>

				<p><span><%= image_tag("about/uk.png", :class => 'flag') %></span> working in Manchester,
					<span><%= image_tag("about/uk.png", :class => 'flag') %></span></p>

				<p>Developer</p>
			</div>
		</div>

	</section>
</li>