<nav>
  <div align="center">
    <a href="<%= root_path %>"><img alt="Home" class="menuBar" src="assets/menubar/Home/Home.svg" /></a>
    <a href="<%= map_path %>"><img alt="Map" class="menuBar" src="assets/menubar/Maps/Maps.svg" /></a>
    <a href="<%= activity_path %>"><img alt="Activity" class="menuBar" src="assets/menubar/Activities/Activities.svg" /></a>
    <a href="<%= currency_path %>"><img alt="Currency" class="menuBar" src="assets/menubar/Currency/Currency.svg" /></a>
    <a href="<%= about_path %>"><img alt="About" class="menuBar" src="assets/menubar/About/About.svg" /></a>
  </div>
</nav>