<nav>
  <div align="center">
    <%= link_to image_tag("menubar/home/Home.svg", class: "menuBar"), root_path %>
    <%= link_to "Map", map_path %>
    <%= link_to "Activities", activity_path %>
    <%= link_to "Currency", currency_path %>
    <%= link_to "About", about_path %>
  </div>
</nav>