<nav>
  <div align="center">
    <%= link_to image_tag("menubar/Home/Home.svg", class: "menuBar"), root_path %>
    <%= link_to image_tag("menubar/Maps/Maps.svg", class: "menuBar"), map_path %>
    <%= link_to image_tag("menubar/Activities/Activities.svg", class: "menuBar"), activity_path %>
    <%= link_to image_tag("menubar/Currency/Currency.svg", class: "menuBar"), currency_path %>
    <%= link_to image_tag("menubar/About/About.svg", class: "menuBar"), about_path %>
  </div>
</nav>