<nav>
  <div align="center">
    <%= link_to image_tag("Blank.png", :class => "menuBar Home-Home", :width => "313", :height => "100"), root_path %>
    <%= link_to image_tag("Blank.png", :class => "menuBar Maps-Maps", :width => "313", :height => "100"), map_path %>
    <%= link_to image_tag("Blank.png", :class => "menuBar Activities-Activities", :width => "313", :height => "100"), activity_path %>
    <%= link_to image_tag("Blank.png", :class => "menuBar Currency-Currency", :width => "313", :height => "100"), currency_path %>
    <%= link_to image_tag("Blank.png", :class => "menuBar About-About", :width => "313", :height => "100"), about_path %>
  </div>
</nav>