<nav>
  <div align="center">
    <%= link_to image_tag("Blank.png", :class => "menuBar Home-Home", :width => "62", :height => "20"), root_path %>
    <%= link_to image_tag("Blank.png", :class => "menuBar Maps-Maps", :width => "62", :height => "20"), map_path %>
    <%= link_to image_tag("Blank.png", :class => "menuBar Activities-Activities", :width => "62", :height => "20"), activities_path %>
    <%= link_to image_tag("Blank.png", :class => "menuBar Currency-Currency", :width => "62", :height => "20"), currency_path %>
    <%= link_to image_tag("Blank.png", :class => "menuBar About-About", :width => "62", :height => "20"), about_path %>
  </div>
</nav>