<!DOCTYPE html>
<html>
<head>
  <title>AngryRickshaw</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" type="text/css" href="assets/currency.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="assets/currency.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%=  render "layouts/menuBar" %>
<%= yield %>

</body>
</html>
